<div class="contactContainer">
  <h2>Contact</h2>
  <div class="listContainer">
    <ul>
      <div class="liContainer">
        <li>Quentin</li>
        <a href="https://github.com/AtKDevWeb">
          <img src="../../../assets/images/github2.jpg" alt="github logo"
        /></a>
        <p>
          Véritable passionné par l'informatique, les jeux vidéo et la
          photographie
        </p>
      </div>

      <div class="liContainer">
        <li>Majdi :</li>
        <a href="https://github.com/supernova90">
          <img src="../../../assets/images/github2.jpg" alt="github logo"
        /></a>
        <p>Majdi est un grand lecteur de livre scientifique</p>
      </div>

      <div class="liContainer">
        <li>Benjamin :</li>
        <a href="https://github.com/Benjamin-Dervieux">
          <img src="../../../assets/images/github2.jpg" alt="github logo"
        /></a>
        <p>
          Même si sa carrure n'est pas impressionnante, il aime le sport, tous
          les sports !!!
        </p>
      </div>
    </ul>
  </div>
</div>
