.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: #006494;
  font-size: 3rem;
}

.listContainer {
  width: 70rem;
}

.mainLiContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.liContainer {
  width: 15rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.photo {
  width: 10rem;
}

li {
  list-style-type: none;
  text-decoration: underline;
}

.githubLogo {
  width: 4rem;
}
