<div class="contactContainer">
  <h2>Contact</h2>
  <div class="listContainer">
    <ul>
      <div class="mainLiContainer">
        <div class="liContainer">
          <img
            class="photo"
            src="../../../assets/images/gamer.png"
            alt="quentin avatar"
          />
          <li>Quentin</li>
          <p>
            Véritable passionné par l'informatique, les jeux vidéo et la
            photographie
          </p>
          <a href="https://github.com/AtKDevWeb">
            <img
              class="githubLogo"
              src="../../../assets/images/github.png"
              alt="github logo"
          /></a>
        </div>

        <div class="liContainer">
          <img
            class="photo"
            src="../../../assets/images/man.png"
            alt="Majdi avatar"
          />
          <li>Majdi :</li>
          <p>Majdi est un grand lecteur de livre scientifique</p>
          <a href="https://github.com/supernova90">
            <img
              class="githubLogo"
              src="../../../assets/images/github.png"
              alt="github logo"
          /></a>
        </div>

        <div class="liContainer">
          <img
            class="photo"
            src="../../../assets/images/man2.png"
            alt="Benjamin avatar"
          />
          <li>Benjamin :</li>
          <p>
            Même si sa carrure n'est pas impressionnante, il aime le sport, tous
            les sports !!!
          </p>
          <a href="https://github.com/Benjamin-Dervieux">
            <img
              class="githubLogo"
              src="../../../assets/images/github.png"
              alt="github logo"
          /></a>
        </div>
      </div>
    </ul>
  </div>
</div>
