<div class="mainForgotPasswordContainer">
  <h1>Forgot password</h1>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="newPasswordForm"
    #newPassword="ngForm"
  >
    <label for="forgotPassword">New password</label>
    <input
      id="forgotPassword"
      type="text"
      name="forgotPassword"
      formControlName="forgotPassword"
      placeholder="Your new password"
      required
    />

    <button type="submit">
      <span class="transition"></span>
      <span class="gradient"></span>
      <span class="label">Register</span>
    </button>
  </form>
</div>
