<div class="mainForgotPasswordContainer">
  <h1>Forgot password</h1>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="newPasswordForm"
    #newPassword="ngForm"
  >
    <label>Your login name</label>
    <input
      id="loginName"
      type="text"
      name="loginName"
      formControlName="loginName"
      placeholder="login name"
      required
    />

    <label>New password</label>
    <input
      id="forgotPassword"
      type="text"
      name="forgotPassword"
      formControlName="forgotPassword"
      placeholder="new password"
      required
    />

    <button type="submit">
      <span class="transition"></span>
      <span class="gradient"></span>
      <span class="label">Register</span>
    </button>
  </form>
</div>
