.mainFooterContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0582ca;
  color: white;
}

.footer p {
  margin: 0;
}

.right-section a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.right-section a:hover {
  text-decoration: underline;
}

.right-section a:active {
  color: black;
}
