<div class="popUp">
 <div class="popUp-back"></div>
 <div class="popUp-container">
   Modale ici<br />
   <a href="#" id="modal-close">[fermer]</a>
    <!-- <div *ngIf=""> -->
        <!-- <app-form-connect *ngIf></app-form-rdv> -->
        <!-- <app-form-newAccountUser *ngIf></app-form-rdv> -->
        <!-- <app-form-recoveryUser *ngIf></app-form-rdv> -->
        <!-- <app-form-rdv *ngIf></app-form-rdv> -->
        <!-- <app-form-indispo *ngIf></app-form-rdv> -->
        <!-- <app-form-adminCreateRdv *ngIf></app-form-rdv> -->
        <!-- <app-form-AdminModifyRdv *ngIf></app-form-rdv> -->
    <!-- </div> -->
</div>
</div>
