.mainCalendarContainer {
  display: flex;
  justify-content: center;
}

.calendar {
  width: 60%;
  height: 45rem;
  background-color: #fff;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  color: #006494;
  font-size: 1.5em;
}

.previousMonthBtn {
  border: none;
  background-color: white;
  margin-right: 3rem;
  cursor: pointer;
  border: 0.5px solid #006494;
  border-radius: 50%;
}

.previousMonthBtn img {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(180deg);
}

.nextMonthBtn {
  border: none;
  background-color: white;
  margin-left: 3rem;
  cursor: pointer;
  border: 0.5px solid #006494;
  border-radius: 50%;
}

.nextMonthBtn img {
  width: 2.5rem;
  height: 2.5rem;
}

.weekdayContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

.weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  color: #006494;
}

.days {
  display: grid;
  grid-template: repeat(7, 1fr);
}

.week {
  display: flex;
  flex-basis: calc(100% / 7);
  justify-content: center;
  gap: 30px;
}

.day {
  width: 8rem;
  height: 8rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.day:hover {
  background-color: #f2f2f2;
}
.selected {
  background-color: #006494;
  color: whitesmoke;
}

.prev-month {
  color: #999;
}
