.mainCalendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.calendar {
  width: 80%;
  background-color: #fff;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  color: #006494;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

.previousMonthBtn {
  border: none;
  background-color: white;
  margin-right: 3rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.previousMonthBtn img {
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
}

.previousMonthBtn:active {
  background-color: #006494;
}

.nextMonthBtn {
  border: none;
  background-color: white;
  margin-left: 3rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nextMonthBtn img {
  width: 2rem;
  height: 2rem;
}

.nextMonthBtn:active {
  background-color: #006494;
}

.weekdayContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
}

.weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
  color: #006494;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.days {
  display: grid;
  grid-template: repeat(7, 1fr);
  width: 100%;
}

.week {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.day {
  display: flex;
  margin: 1.4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.day:hover {
  background-color: #f2f2f2;
}
.selected {
  background-color: #006494;
  color: whitesmoke;
}

.prev-month {
  color: #b1b1b194;
}
