.mainCalendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  margin-right: 2rem;
}

.calendar {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  color: #006494;
  font-size: 1.5em;
}

.previousMonthBtn {
  border: none;
  background-color: white;
  margin-right: 3rem;
  cursor: pointer;
  border: 0.5px solid #006494;
  border-radius: 50%;
}

.previousMonthBtn img {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(180deg);
}

.nextMonthBtn {
  border: none;
  background-color: white;
  margin-left: 3rem;
  cursor: pointer;
  border: 0.5px solid #006494;
  border-radius: 50%;
}

.nextMonthBtn img {
  width: 2.5rem;
  height: 2.5rem;
}

.weekdayContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px;
}


.weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  color: #006494;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffa9a9;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.days {
  display: grid;
  grid-template: repeat(7, 1fr);
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px;
}

.week {
  display: flex;
  flex-basis: calc(100% / 7);
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px;
}

.day {
  width: 4rem; 
  height: 7rem;
  display: flex;
  margin: 1.4rem;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.day:hover {
  background-color: #f2f2f2;
}
.selected {
  background-color: #006494;
  color: whitesmoke;
}

.prev-month {
  color: #b1b1b194;
}
