<div class="mainCalendarContainer">
  <div class="calendarContainer">
    <div class="header">
      <button class="previousMonthBtn" (click)="previousMonth()">
        <img src="../../../assets/images/next.png" alt="previous arrow" />
      </button>
      <h2>{{ currentMonth }}</h2>
      <button class="nextMonthBtn" (click)="nextMonth()">
        <img src="../../../assets/images/next.png" alt="next arrow" />
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
          <th>Dimanche</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendar">
          <td *ngFor="let day of week">
            <div class="day">{{ day }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
