<div class="formRdvContainer">
  <form id="FormRdv" class="formRdv">
    <h2>{{ title }}</h2>
    <input
      type="text"
      name="rdvTitle"
      id="RdvTitle"
      class="rdvTitle"
      placeholder="Intitulé du rendez vous."
      required
    />

    <div id="ContainerSelectTime" class="containerSelectTime">
      <!-- Devra se changer en DIV en simple affichage avec le retour des valeurs des plages horaires -->

      <div class="timeSlotDefine">
        <label for="timeSlotStart">Début du créneau:</label>
        <input
          type="time"
          id="timeSlotStart"
          name="timeSlotStart"
          min="09:00"
          max="18:00"
          required
        />
      </div>

      <div class="timeSlotDefine">
        <label for="timeSlotStart">Début du créneau:</label>
        <input
          type="time"
          id="timeSlotFinish"
          name="timeSlotFinish"
          min="09:00"
          max="18:00"
          required
        />
      </div>

      <button type="button" name="selectfTime" id="SelectfTime" class="button">
        Choix de l'Heure
      </button>
    </div>

    <textarea
      name="descriptionRdv"
      id="DescriptionRdv"
      class="descriptionRdv"
      cols="30"
      rows="10"
      placeholder="Descriptif de votre Rendez-vous"
    ></textarea>

    <div id="actionBar" class="actionBar">
      <button type="button" name="modifyRdv" id="ModifyRdv" class="button">
        Modifications
      </button>
      <button type="button" name="DeleteRdv" id="DeleteRdv" class="button">
        Suppression
      </button>
      <button
        type="button"
        name="validationRdv"
        id="ValidationRdv"
        class="button"
      >
        Validation
      </button>
    </div>
  </form>
</div>
